@using WebApplication1.Models
@model IEnumerable<Record>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("AddNewWallet", "CreateWallet")
</p>

<p>
    @Html.ActionLink("AddNewItem", "Create")
</p>

